@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #fdf4ff, white, #fef1f7);
}

.btn-primary {
  color: white;
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #d946ef, #f83b86);
}

.btn-primary:hover {
  background: linear-gradient(to right, #c026d3, #e91c68);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
  background-color: white;
  color: #c026d3;
  border: 2px solid #f0abfc;
  padding: 0.625rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: #fdf4ff;
}

.card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: box-shadow 0.3s;
  border: 1px solid #fae8ff;
}

.card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.2s;
  border: 2px solid #f5d0fe;
}

.input:focus {
  border-color: #d946ef;
  box-shadow: 0 0 0 2px rgba(249, 168, 212, 0.2);
}

.label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #374151;
}
